/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
**************************
Created by Rommel69      *
**************************
*/

body {
    font-family: 'PT Sans Narrow', sans-serif;
    
    min-width: 920px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 920px;
    margin: 0 auto;
}

.page-header {
    background-color: #000000;
    min-height: 72px;
    margin: 0 auto;
}

.main-nav {
    float: left;
    width: 635px;
    margin: 0;
    margin-top: 29px;
    padding: 0;
}

.main-nav li {
    float: left;
    padding-right: 40px;
    margin-bottom: 30px;
}

.main-nav a {
    color: #bbbbbb;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.user-block {
    float: right;
    margin-top: 29px;
    width: 67px;
    height: 17px;
}

.user-entrance {
    text-decoration: none;
    color: #bbbbbb;
    font-weight: bold;
    text-transform: uppercase;
    
}

.entrance-logo {
    width: 18px;
    height: 16px;
    margin-right: 3px;
    margin:0;
    padding: 0;
    opacity: 0.7;
}

.page-content {
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1502px;
    background-color: black;
    color: #f7f4f1;
    
}

.page-content .page-logo {
    width: 368px;
    height: 204px;
    padding: 0;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 80px;
    
    
}

.features .feature-item p {
    color: #dddad8;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.features h2 {
    color: #dddad8;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 85px;
}

.features .feature-item {
    float: left;
    text-align: center;
    width: 275px;
    height: 210px;
    margin-right: 40px;
    position: relative;
}

.features .feature-item::before {
    content: "";
    position: absolute;
    width:40px;
    height: 39px;
    top: 50px;
    left: 120px;
    background: url(../img/spritesheet.png);
}

.features {
    width: 910px;
    height: 220px;
}

.features li:nth-child(3){
    margin: 0;
}

.news-block {
    background-color: #f9f6f3;
    width: 940px;
    height: 435px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url(../img/newsbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 85px;
}

.news-block  h2 {
    font-size: 30px;
    text-align: left;
    padding-top: 55px;
    padding-bottom: 37px;
}

.news-block .left-side .upper-side {
    text-align: left;
    width: 360px;
    height: 185px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    padding-left: 80px;
}

.news-block .left-side {
    width: 470px;
    height: 435px;
}

.bottom-side {
    
    text-align: left;
    width: 380px;
    height: 100px;
    line-height: 24px;
    padding-left: 80px;
    padding-top: 34px;   
}

.news-block .date-time {
    font-weight: normal;
    text-transform: lowercase;
    font-size: 14px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.left-side .bottom-side {
    text-align: left;
    
}

#news-button {
    margin-left: 80px;
    text-decoration: none;
    display: block;
    height: 28px;
    width: 140px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
    background-color: #000000;
    margin-top: 30px;
    margin-left: 80px;
    
}

.news-block .right-side {
    width: 470px;
    height: 435px;
    float: right;
    position: relative;
    top: -436px;
    text-align: center;
    
    padding-left: 
    
    
}

.news-block .right-side h2 {
    padding-left: 90px;
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    
    
}

.news-block .right-side img {
    margin-left: 55px;
    margin-top: 45px;
    margin-right: 70px;
    border: 7px solid #ffffff;
    width: 286px;
    height: 164px;
    
}

#btn-back {
    text-decoration: none;
    display: block;
    height: 44px;
    width: 140px;
    text-align: center;
    padding-top: px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    font-family: 'PT Sanst Narrow', sans-serif;
    font-weight: bold;
    margin-top: 44px;
    margin-left: 80px;
    margin-right: 20px;
    text-transform: uppercase;
    float: left;
    
}

#btn-next {
    text-decoration: none;
    display: block;
    height: 44px;
    width: 140px;
    text-align: center;
    padding-top: 1px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    font-family: 'PT Sanst Narrow', sans-serif;
    font-weight: bold;
    
    margin-top: 44px;
    margin-bottom: 15px;
    text-transform: uppercase;
    
    
}

.contacts-block {
    background-color: #f9f6f3;
    width: 940px;
    height: 435px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url(../img/newsbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 55px;
}

